*.pyc
CurPage
movie.txt
test.js
Scrapy/ScrapyGirls
/dist
/awesome-bot
/build
a.png
getEveryDaySound.spec
pyinstallTest.spec
test.db
testmin.js
/node_modules
/douyin/video

/virtualenvtTest
TestUniApp/unpackage
TestUniApp/AndroidProject/.idea/jarRepositories.xml
TestUniApp/AndroidProject/app/src/main/assets/apps/__UNI__37FA08B/www/app-config-service.js
TestUniApp/AndroidProject/app/src/main/assets/apps/__UNI__37FA08B/www/app-service.js
TestUniApp/AndroidProject/app/src/main/assets/apps/__UNI__37FA08B/www/app-view.js
TestUniApp/AndroidProject/app/src/main/assets/apps/__UNI__37FA08B/www/manifest.json
TestUniApp/AndroidProject/app/src/main/assets/apps/__UNI__37FA08B/www/static/uni.ttf
