<html>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>
<script >
	$(function(){
		$("button").click(function(){
			$.get("http://127.0.0.1:5000/hello/",function(data,status){
				alert("数据: " + data + "\n状态: " + status);
			});
			console.log("click")
		})
	});
</script>
<body>
	
	<form action = "http://localhost:5000/uploader" method = "POST" 
	enctype = "multipart/form-data">
	<input type = "file" name = "file" />
	<input type = "submit"/>
</form>
<button>点我</button>
</body>
</html>