<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Vue Study</title>
		<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
	</head>
	<style>
		.class1{
			color: red;
		}
		
	</style>
	<body>
		<div id="app">
			<p>{{ message1 }}</p>
			<hr />
			<div v-html="v_html"></div>
			<hr />
			<label for="r1">修改颜色</label> <input type="checkbox" v-model="use">
			<div v-bind:class="{class1:use}">
				<p>我的颜色根据use的状态变化</p>
			</div>
			<hr />
			<div v-bind:id="'list-' + id">菜鸟教程</div>
			<hr />

			<label>显示文字</label> <input type="checkbox" v-model="seen">
			<p v-if="seen">现在你看到我了</p>
			<P v-else> 没看见我</p>
			<hr />
			<a v-bind:href="href">link</a>
			<hr />

			<p>{{ inputtext|uperStr }}</p>
			<input v-model.lazy="inputtext">
			<hr />

			<button v-on:click="Click">点击</button>
			<hr>

			<label>v-show</label> <input type="checkbox" v-model="show">
			<p v-show="show">show me</p>

			<hr>
			<ol>
				<li v-for="site in sites">
					{{ site.name }}
				</li>
			</ol>
			<hr >
			<runoob posttitle = "LOL1"  message = "666"> </runoob>
			
			<hr>

			<p>{{ testText }}</p>
			<button v-on:click="ChangeText">changetext</button>
		</div>
	</body>

	<script>
		Vue.component('runoob', {//自定义组件
			props:['posttitle','message'],
			template: '<div><h1>{{ posttitle }} </h1> <h2>{{ message }}</h2></div>'
		})

		var p = new Vue({
			el: "#app",
			data: {
				testText:"Test",
				message1: "我是message文字", //直接插值
				v_html: "<h1>我是html代码<h1>", //v-html 绑定的是html的代码
				use: false, //v-model 数据绑定
				id: 99, //v-bind 绑定属性值
				seen: false, // if判断
				href: "https://www.baidu.com/", //v-bind 绑定属性值
				inputtext: "数据绑定", //v-model 数据绑定
				show: false, //v-show 是否展示
				sites: [{
					"name": "site1"
				}, {
					"name": "site2"
				}, {
					"name": "site3"
				}] //v-for循环
			},
			methods: {
				Click: function() { //v-on  监听事件
					alert("clicked")
				},
				ChangeText:function(){
					this.testText = Math.random()*100
				}
			},
			filters: { //过滤变成大写字母
				uperStr: function(str) {

					return str.toUpperCase()
				}
			},
			watch: { //监听改变
				inputtext: function(nval, oval) {
					alert(oval + "=变成==" + nval)
				}
			}

		})
		p.message1 = "lol----"
	</script>
</html>
