<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>admin</title>
    <link rel="stylesheet" href="layui/css/layui.css">


</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs">Admin</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
<!--        <ul class="layui-nav layui-layout-left" lay-filter="NavTest">-->
<!--            &lt;!&ndash; 移动端显示 &ndash;&gt;-->
<!--            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">-->
<!--                <i class="layui-icon layui-icon-spread-left"></i>-->
<!--            </li>-->

<!--            <li class="layui-nav-item layui-hide-xs"><a href="javascript:;">nav 1</a></li>-->
<!--            <li class="layui-nav-item layui-hide-xs"><a href="javascript:;">nav 2</a></li>-->
<!--            <li class="layui-nav-item layui-hide-xs"><a href="javascript:;">nav 3</a></li>-->
<!--            <li class="layui-nav-item">-->
<!--                <a href="javascript:;">nav groups</a>-->
<!--                <dl class="layui-nav-child">-->
<!--                    <dd><a href="">menu 11</a></dd>-->
<!--                    <dd><a href="javascript:;">menu 22</a></dd>-->
<!--                    <dd><a href="javascript:;">menu 33</a></dd>-->
<!--                </dl>-->
<!--            </li>-->
<!--        </ul>-->
<!--        <ul class="layui-nav layui-layout-right">-->
<!--            <li class="layui-nav-item layui-hide layui-show-md-inline-block">-->
<!--                <a href="javascript:;">-->
<!--                    <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"-->
<!--                         class="layui-nav-img">-->
<!--                    tester-->
<!--                </a>-->
<!--                <dl class="layui-nav-child">-->
<!--                    <dd><a href="">Your Profile</a></dd>-->
<!--                    <dd><a href="">Settings</a></dd>-->
<!--                    <dd><a href="">Sign out</a></dd>-->
<!--                </dl>-->
<!--            </li>-->
<!--            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>-->
<!--                <a href="javascript:;">-->
<!--                    <i class="layui-icon layui-icon-more-vertical"></i>-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree NavTest1" lay-filter="test">
                <li class="layui-nav-item">
                    <a lay-href="changelog" ><span class="home">首页</span></a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">menu group 1</a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="login">login</a></dd>
                        <dd><a lay-href="test">test</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->

        <div class="layui-tab" lay-allowClose="true" lay-filter="demo">
            <ul class="layui-tab-title">

            </ul>
        </div>

        <iframe class="bodyframe" src="" style="height: 1080px;width: 100%" frameborder="0"></iframe>-->

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        底部固定区域
    </div>
</div>

<style>
    .layui-tab-title li:first-child i{
        display: none;
    }
</style>

<script src="layui/layui.js"></script>
<script>
    //JS
    var Tabs = new Array()
    layui.use(['element', 'layer', 'util'], function () {
        var element = layui.element
            , layer = layui.layer
            , util = layui.util
            , $ = layui.$;
        //

        //选项卡点击
        element.on('tab(demo)', function (data) {
            // console.log("1", this)
            // console.log("1", data.index); //得到当前Tab的所在下标
            // console.log("1", data.elem); //得到当前的Tab大容器
            var layh_ref = $(this).attr('lay-id');
            // $(this).css({"background-color": "yellow"})
            if (layh_ref) {
                $(".bodyframe").attr("src", layh_ref)
            }

        });
        //选项卡删除
        element.on('tabDelete(demo)', function (data) {

            Tabs.splice(data.index, 1)
            var lay_ref = Tabs.slice(-1);
            element.tabChange("demo", lay_ref);
            $(".bodyframe").attr("src", lay_ref)

        });
        //左侧导航栏点击
        element.on('nav(test)', function (data) {
            var lay_ref = data.attr("lay-href")
            if (lay_ref) {
                // console.log("href====", lay_ref)
                if (Tabs.indexOf(lay_ref) == -1) {
                    Tabs.push(lay_ref)
                    element.tabAdd('demo', {
                        title: $(this).text()
                        , id: lay_ref
                    });
                }
                element.tabChange("demo", lay_ref);
            }
        });

        $(".home").trigger("click")

    });
</script>
</body>
</html>