<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="layui/css/layui.css" media="all">

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--    header-->
    <div class="layui-header">
        <!-- 头部区域 -->
        <!--        <ul class="layui-nav layui-layout-left">-->
        <!--            <li class="layui-nav-item layadmin-flexible" lay-unselect="">-->
        <!--                <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">-->
        <!--                    <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>-->
        <!--                </a>-->
        <!--            </li>-->
        <!--            <li class="layui-nav-item layui-hide-xs" lay-unselect="">-->
        <!--                <a href="http://www.baidu.com/" target="_blank" title="前台">-->
        <!--                    <i class="layui-icon layui-icon-website"></i>-->
        <!--                </a>-->
        <!--            </li>-->
        <!--            <li class="layui-nav-item" lay-unselect="">-->
        <!--                <a href="javascript:;" layadmin-event="refresh" title="刷新">-->
        <!--                    <i class="layui-icon layui-icon-refresh-3"></i>-->
        <!--                </a>-->
        <!--            </li>-->
        <!--            <li class="layui-nav-item layui-hide-xs" lay-unselect="">-->
        <!--                <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search"-->
        <!--                       layadmin-event="serach" lay-action="template/search.html?keywords=">-->
        <!--            </li>-->
        <!--            <span class="layui-nav-bar" style="left: 192px; top: 48px; width: 0px; opacity: 0;"></span></ul>-->
        <!--        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">-->

        <!--            <li class="layui-nav-item" lay-unselect="">-->
        <!--                <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">-->
        <!--                    <i class="layui-icon layui-icon-notice"></i>-->

        <!--                    &lt;!&ndash; 如果有新消息，则显示小圆点 &ndash;&gt;-->
        <!--                    <span class="layui-badge-dot"></span>-->
        <!--                </a>-->
        <!--            </li>-->
        <!--            <li class="layui-nav-item layui-hide-xs" lay-unselect="">-->
        <!--                <a href="javascript:;" layadmin-event="theme">-->
        <!--                    <i class="layui-icon layui-icon-theme"></i>-->
        <!--                </a>-->
        <!--            </li>-->
        <!--            <li class="layui-nav-item layui-hide-xs" lay-unselect="">-->
        <!--                <a href="javascript:;" layadmin-event="note">-->
        <!--                    <i class="layui-icon layui-icon-note"></i>-->
        <!--                </a>-->
        <!--            </li>-->
        <!--            <li class="layui-nav-item layui-hide-xs" lay-unselect="">-->
        <!--                <a href="javascript:;" layadmin-event="fullscreen">-->
        <!--                    <i class="layui-icon layui-icon-screen-full"></i>-->
        <!--                </a>-->
        <!--            </li>-->
        <!--            <li class="layui-nav-item" lay-unselect="">-->
        <!--                <a href="javascript:;">-->
        <!--                    <cite>tester</cite>-->
        <!--                    <i class="layui-icon layui-icon-down layui-nav-more"></i></a>-->
        <!--                <dl class="layui-nav-child layui-anim layui-anim-upbit">-->
        <!--                    <dd><a lay-href="set/user/info.html">基本资料</a></dd>-->
        <!--                    <dd><a lay-href="set/user/password.html">修改密码</a></dd>-->
        <!--                    <hr>-->
        <!--                    <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>-->
        <!--                </dl>-->
        <!--            </li>-->

        <!--            <li class="layui-nav-item layui-hide-xs" lay-unselect="">-->
        <!--                <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>-->
        <!--            </li>-->
        <!--            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect="">-->
        <!--                <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>-->
        <!--            </li>-->
        <!--            <span class="layui-nav-bar" style="left: 135px; top: 48px; width: 0px; opacity: 0;"></span></ul>-->
    </div>
    <!--side-->
    <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
            <div class="logo">
                <span>Admin</span>
            </div>
            <ul class="layui-nav layui-nav-tree" lay-shrink="all"
                lay-filter="test">
                <li class="layui-nav-item layui-this">
                    <a lay-href="changelog" class="home">首页</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">menu group 1</a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="login">login</a></dd>
                        <dd><a lay-href="test">test</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!--    tab-->
    <div class="layadmin-pagetabs">
        <div class="layadmin-pagetabs layui-tab layui-tab-brief" lay-allowClose="true" lay-filter="demo">
            <ul class="layui-tab-title">
            </ul>
        </div>

    </div>
    <!--    body-->
    <div class="layui-body">
        <iframe class="bodyframe" src="changelog"  frameborder="0"></iframe>
    </div>
</div>


<style>
    .logo {
        height: 50px;
        width: 200px;
        text-align: center;
        color: white;
        line-height: 50px;
        font-size: 16px;
    }

    .layui-header {
        border-bottom: 1px solid #f6f6f6;
        box-sizing: border-box;
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
    }

    .layui-side {
        width: 220px;
        z-index: 1001;
        top: 0px !important;

    }

    .layui-side-menu {
        background-color: #20222A !important;

    }

    .layui-side-scroll {
        width: 240px;
        position: relative;
        height: 100%;

    }

    .layadmin-pagetabs {
        height: 40px;
        line-height: 40px;
        padding: 0 80px 0 10px;
        background-color: #fff;
        box-sizing: border-box;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
        position: fixed;
        top: 50px;
        right: 0;
        z-index: 999;
        left: 200px !important;
    }

    .layui-body {
        top: 100px !important;
    }

    iframe {
        width: 100%;
        height: 100%;
    }

    .layui-tab-title li:first-child i {
        display: none;
    }
</style>


<script src="layui/layui.js"></script>
<script>
    //JS
    var Tabs = new Array()
    layui.use(function () {
        var element = layui.element
            , layer = layui.layer
            , util = layui.util
            , $ = layui.$;
        //

        //选项卡点击
        element.on('tab(demo)', function (data) {
            var lay_ref = $(this).attr('lay-id');
            if (lay_ref) {
                $(".bodyframe").attr("src", lay_ref)
            }

        });
        //选项卡删除
        element.on('tabDelete(demo)', function (data) {

            Tabs.splice(data.index, 1)
            var lay_ref = Tabs.slice(-1);
            element.tabChange("demo", lay_ref);
            $(".bodyframe").attr("src", lay_ref)

        });
        //左侧导航栏点击
        element.on('nav(test)', function (data) {
            var lay_ref = data.attr("lay-href")
            if (lay_ref) {
                if (Tabs.indexOf(lay_ref) == -1) { //没有找到就加在数组里面
                    Tabs.push(lay_ref)
                    element.tabAdd('demo', {
                        title: $(this).text()
                        , id: lay_ref
                    });
                }
                element.tabChange("demo", lay_ref);
            }
        });

        //第一次自动进入首页
        var homeHref = $(".home").attr("lay-href")
        Tabs.push(homeHref)
        element.tabAdd('demo', {
            title: $(".home").text()
            , id: homeHref
        });
        element.tabChange("demo", homeHref);
        var iframe = document.querySelector('iframe');
        iframe.onload = function () {
            iframe.height = Math.max(
                iframe.contentDocument.body.scrollHeight || 0,
                iframe.contentDocument.body.offsetHeight || 0)
        }
    });
</script>
</body>
</html>