<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="/webjars/layui/2.5.5/css/layui.css">
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="layui-container">
    <div class="layui-row">

        <div class="layui-col-lg4 layui-col-sm4 layui-col-md4" style="height: 50px;background-color: #6d6d6a">

        </div>
        <div class="layui-col-lg4 layui-col-sm4 layui-col-md4" style="height: 50px; background-color: #bf017d">

        </div>
        <div class="layui-col-lg4 layui-col-sm4 layui-col-md4" style="height: 50px;background-color: #665337">

        </div>
    </div>

    <hr class="layui-border-red">
    <div class="layui-row" style="display: flex;flex-direction: row; justify-content: center;width: 100%;">
        <button type="button" class="layui-btn btnTest">获取服务器时间</button>
    </div>
    <hr class="layui-border-red">
    <div class="layui-row" style="display: flex;flex-direction: row; justify-content: center;width: 100%;">
        <p class="time"></p>
    </div>

    <div class="container">
        <form action = "/uploadFile" method = "POST" enctype = "multipart/form-data">
            <input type = "file" name = "file" id = "upfile" />
            <input  type = "submit" value="提交"  id = "upfilebtn" />
        </form>

    </div>
    <p th:text="${msg}"></p>
<!--    <iframe src="changelog" style="width: 100%;height: 1080px" frameBorder="0" ></iframe>-->
</div>

</body>


<!--<script src="./layui2.6.8/layui.js"></script>-->
<script src="/webjars/layui/2.5.5/layui.js"></script>
<script>
    $(function () {

        $(".btnTest").click(function () {
            $.get("./getTime", function (data) {
                var text = new Date(data).toTimeString()
                $(".time").text(text)

            })
        })

    })

</script>
</html>